.personal-container{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px;

  h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
  }

  .profileimg{
    width: 50%;
    height: 60%;
    border: 3px solid blue;
  }
  .clearfix::after,
  .clearfix::before {
    content: "";
    clear: both;
    display: table;
  }

  input {
    margin-bottom: 20px;
  }

  .profile-input{
    margin-top: 30px;
  }
}

.stepper-next {
  margin-left: 20px;
  float: right;
}
