<div [formGroup]="cvService.profileForm" class="personal-container" enctype="multipart/form-data">
  <h2>Profile</h2>


  <div style="text-align: center;">

    <div *ngIf="profileImage">
      <img [src]="profileImage" class="profileimg">
    </div>
    <input type="file" class="profile-input" formControlName="profile"  (change)="imageUpload($event)" accept="image/*">
  </div>
</div>

<div class="clearfix">
  <button mat-raised-button color="primary" type="button" style="float: left;" matStepperPrevious>Previous</button>
  <button mat-raised-button color="primary" type="button" class="stepper-next" matStepperNext>Next</button>
</div>
