.header-btn {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
  color: white;
}

mat-toolbar {
  width: 100%;
  background-color: blue;
  padding: 10px;
}

mat-slide-toggle {
  color: white;
}

@media print {
  button{
    display: none;
  }
}
