<div class="download clearfix">
  <button mat-raised-button color="primary" class="down-left" (click)="download()">Download Resume</button>
  <button mat-raised-button color="primary" class="down-right" [routerLink]="['/']">Back</button>
</div>
<div class="cv-preview">
  <div class="personal-details clearfix">
    <div class="personal-info-left">
      <div class="personal-info">
        <h1>{{ name }}</h1>
        <p>Email  : {{ email }}</p>
        <p>Phone  : {{ phone }}</p>
        <p>Date of Birth  : {{ dob | date: 'd MMM yyyy' }}</p>
        <p>Nationality: {{ nationality }}</p>
        <p>Religion: {{ religion }}</p>
        <p>Gender: {{ gender }}</p>
        <p>Address: {{ address }}</p>
      </div>
    </div>
      <div *ngIf="profileImage" class="personal-info-right">
        <img [src]="profileImage" class="profile-img" />
      </div>
  </div>
  <div class="about-me">
    <h2>About Me</h2>
    <p>
      {{ description }}
    </p>
  </div>
  <div class="education">
    <h2>Education</h2>
    <div *ngFor="let edu of education">
      <h3><b>{{edu.education}}</b>&nbsp;-&nbsp;</h3>
      <h5>{{edu.school}} &nbsp;</h5>
      <h5>({{edu.startdate | date: 'd MMM yyyy'}} - {{edu.enddate | date: 'd MMM yyyy'}})</h5>
      <p>
        {{edu.description}}
      </p>
    </div>
  </div>
  <div class="education">
    <h2>Employment History</h2>
    <div *ngFor="let emp of employment">
      <h3><b>{{emp.position}}</b>&nbsp;-&nbsp;</h3>
      <h5>{{emp.company}} &nbsp;</h5>
      <h5>({{emp.startdate| date: 'd MMM yyyy'}} - {{emp.enddate | date: 'd MMM yyyy'}})</h5>
      <p>
        {{emp.description}}
      </p>
    </div>
  </div>
  <div class="skills-languages">
    <div class="clearfix">
      <div class="skills">
        <h2>Skills</h2>
        <ul>
          <li *ngFor="let skill of skills">
            <h4>{{skill.skill}}</h4>
            <mat-progress-bar mode="determinate" [value]="skill.level"></mat-progress-bar>
          </li>
        </ul>
      </div>

      <div class="languages">
        <h2>Languages</h2>
        <ul>
          <li *ngFor="let language of languages">
            <h4>{{language.language}}</h4>
            <mat-progress-bar class="green-progress" mode="determinate" [value]="language.level"></mat-progress-bar>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright @ 2022 Resume Generator</p>
  </div>
</div>

