<div class="download">
  <button mat-raised-button color="primary" (click)="download()">Download Resume</button>
</div>
<div class="cv-preview">
  <div class="clearfix">
    <div class="personal-info-left">
      <div class="personal-info">
        <h1>Kyaw Linn Thu</h1>
        <p>Email  : scm.kyawlinthu@gmail.com</p>
        <p>Phone  : 09-123456789</p>
        <p>Date of Birth  : 29th March 1999</p>
        <p>Nationality: Myanmar</p>
        <p>Religion: Buddhist</p>
        <p>Gender: Male</p>
        <p>Address: No.1, 22nd street, Latha Township, Yangon</p>
      </div>
    </div>
    <div class="personal-info-right">
      <img src="../../../assets/img1.jpg" alt="" class="profile-img">
    </div>
  </div>
  <div class="about-me">
    <h2>About Me</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum placeat nulla ratione modi enim saepe nihil asperiores sit quisquam, magni nesciunt molestiae tenetur a adipisci ab ad, voluptatem, laudantium tempora! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum placeat nulla ratione modi enim saepe nihil asperiores sit quisquam, magni.
    </p>
  </div>
  <div class="education">
    <h2>Education</h2>
    <div>
      <h3><b>Education01</b></h3>
      <h5>East Yangon University &nbsp;</h5>
      <h5>(15th Feb 2022 - 15th August 2022)</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum placeat nulla ratione modi enim saepe nihil asperiores sit quisquam, magni nesciunt molestiae tenetur a adipisci ab ad, voluptatem, laudantium tempora! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum placeat nulla ratione modi enim saepe nihil asperiores sit quisquam.
      </p>
    </div>
    <hr>
    <div>
      <h3><b>Education02</b></h3>
      <h5>East Yangon University &nbsp;</h5>
      <h5>(15th Feb 2022 - 15th August 2022)</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum placeat nulla ratione modi enim saepe nihil asperiores sit quisquam, magni nesciunt molestiae tenetur a adipisci ab ad, voluptatem, laudantium tempora! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum placeat nulla ratione modi enim saepe nihil asperiores sit quisquam.
      </p>
    </div>
    <hr>
    <div>
      <h3><b>Education02</b></h3>
      <h5>East Yangon University &nbsp;</h5>
      <h5>(15th Feb 2022 - 15th August 2022)</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum placeat nulla ratione modi enim saepe nihil asperiores sit quisquam, magni nesciunt molestiae tenetur a adipisci ab ad, voluptatem, laudantium tempora! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum placeat nulla ratione modi enim saepe nihil asperiores sit quisquam.
      </p>
    </div>
    <hr>
  </div>
  <div class="education">
    <h2>Employment History</h2>
    <div>
      <h3><b>Junior Developer</b></h3>
      <h5>Seattle Consulting Myanmar &nbsp;</h5>
      <h5>(15th Feb 2022 - 15th August 2022)</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum placeat nulla ratione modi enim saepe nihil asperiores sit quisquam, magni nesciunt molestiae tenetur a adipisci ab ad, voluptatem, laudantium tempora! Lorem ipsum dolor.
      </p>
    </div>
    <hr>
    <div>
      <h3><b>Junior Developer</b></h3>
      <h5>Seattle Consulting Myanmar &nbsp;</h5>
      <h5>(15th Feb 2022 - 15th August 2022)</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum placeat nulla ratione modi enim saepe nihil asperiores sit quisquam, magni nesciunt molestiae tenetur a adipisci ab ad, voluptatem, laudantium tempora! Lorem ipsum dolor.
      </p>
    </div>
    <hr>
  </div>
  <div class="skills-languages">
    <div class="clearfix">
      <div class="skills">
        <h2>Skills</h2>
        <ul>
          <li>HTML5</li>
          <li>CSS</li>
          <li>PHP</li>
        </ul>
      </div>

      <div class="languages">
        <h2>Languages</h2>
        <ul>
          <li>HTML5</li>
          <li>CSS</li>
          <li>PHP</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright @ 2022 Resume Generator</p>
  </div>
</div>
