<div class="login-container">
  <mat-card>
    <form [formGroup]="cvForm" (ngSubmit)="onSubmit()">
      <mat-stepper #stepper>
        <mat-step [stepControl]="step1?.get([0])!" label="Personal Details">
          <app-personal-details (onInitEvent)="receiveAutoMsgHandler($event)"></app-personal-details>
        </mat-step>

        <mat-step [stepControl]="step2?.get([0])!" label="Education">
          <app-education></app-education>
        </mat-step>

        <mat-step [stepControl]="step3?.get([0])!" label="Employment">
          <app-employment></app-employment>
        </mat-step>

        <mat-step [stepControl]="step4?.get([0])!" label="Skills">
          <app-skills></app-skills>
        </mat-step>

        <mat-step [stepControl]="step5?.get([0])!" label="Languages">
          <app-languages></app-languages>
        </mat-step>

        <mat-step [stepControl]="step6?.get([0])!" label="Profile">
          <app-profile-upload></app-profile-upload>
        </mat-step>

        <mat-step label="Done">
          <div style="text-align: center" class="personal-container">
            <h2>Done</h2>
            <p>You are now done. <br> Click create to continue or Click back to edit. </p>
            <button type="submit" mat-raised-button class="create-btn" color="primary">Create</button>
          </div>
          <div class="clearfix">
            <button type="button" mat-raised-button style="float: left;" matStepperPrevious color="primary">Back</button>
          </div>
        </mat-step>
      </mat-stepper>
    </form>
  </mat-card>
</div>
<pre>{{msgOnChildCompInit}}</pre>
<pre>{{msgOnButtonClick}}</pre>
