<div class="login-container">
  <mat-card>
    <form [formGroup]="cvService.cvForm" (ngSubmit)="onSubmit()">
      <mat-stepper #stepper>
        <mat-step [stepControl]="cvService.personalForm" label="Personal Details">
          <app-personal-details (onInitEvent)="receiveAutoMsgHandler($event)"></app-personal-details>
        </mat-step>

        <mat-step [stepControl]="cvService.educationForm" label="Education">
          <app-education (onInitEvent)="receiveAutoMsgHandler($event)"></app-education>
        </mat-step>

        <mat-step [stepControl]="cvService.employmentForm" label="Employment">
          <app-employment (onInitEvent)="receiveAutoMsgHandler($event)"></app-employment>
        </mat-step>

        <mat-step [stepControl]="cvService.skillsForm" label="Skills">
          <app-skills (onInitEvent)="receiveAutoMsgHandler($event)"></app-skills>
        </mat-step>

        <mat-step [stepControl]="cvService.languagesForm" label="Languages">
          <app-languages (onInitEvent)="receiveAutoMsgHandler($event)"></app-languages>
        </mat-step>

        <mat-step [stepControl]="cvService.profileForm" label="Profile">
          <app-profile-upload (onInitEvent)="receiveAutoMsgHandler($event)"></app-profile-upload>
        </mat-step>

        <mat-step label="Done">
          <div style="text-align: center" class="personal-container">
            <h2>Done</h2>
            <p>You are now done. <br> Click create to continue or Click back to edit. </p>
            <button type="submit" mat-raised-button class="create-btn" color="primary">Create</button>
          </div>
          <div class="clearfix">
            <button type="button" mat-raised-button style="float: left;" matStepperPrevious color="primary">Back</button>
          </div>
        </mat-step>
      </mat-stepper>
    </form>
  </mat-card>
</div>
<pre>{{msgOnChildCompInit}}</pre>
