<div [formGroup]="cvService.educationForm" class="personal-container">
  <h2>Education</h2>

  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" formArrayName="movies">
    <div class="example-box" *ngFor="let movie of movies.controls; let i=index" cdkDrag>
      <mat-card>
        <div [formGroupName]="i">
          <mat-form-field class="education-field" appearance="outline">
            <mat-label>Education</mat-label>
            <input matInput formControlName="education">
          </mat-form-field>

          <mat-form-field class="education-field" appearance="outline">
            <mat-label>School/University</mat-label>
            <input matInput formControlName="school">
          </mat-form-field>

          <div class="clearfix">
            <mat-form-field class="education-date-left" appearance="outline">
              <mat-label>Start Date</mat-label>
              <input matInput (dateInput)="OnDateChange($event.value)" [matDatepicker]="picker1"
                formControlName="startdate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="education-date-right" appearance="outline">
              <mat-label>End Date</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="enddate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

          <mat-form-field class="education-field" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>

          <span *ngIf="i !== 0" class="clearfix">
            <button type="button" mat-raised-button color="warn" (click)="remove(i)" style="float: right;">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </span>
        </div>
      </mat-card>

    </div>
    <div class="add-btn">
      <button mat-raised-button type="button" (click)="add()"><i class="material-icons">add</i> Add Education</button>
    </div>
  </div>
</div>


<div class="clearfix">
  <button mat-raised-button color="primary" type="button" style="float: left;" matStepperPrevious>Previous</button>
  <button mat-raised-button color="primary" type="button" class="stepper-next" matStepperNext>Next</button>
</div>
